<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Athlete Profile</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="">
                <h4>Hello, Welcome to our Strava activity visualiser app!</h4>
                <hr>
                <div style="height:30px;"></div>
                <table>
                    <tr>
                        <h5>Athlete Details</h5>
                    </tr>
                    <tr>
                        <th>athlete ID: </th>
                        <td>{{data.athlete.id}}</td>
                    </tr>
                    <tr>
                        <th>Firstname: </th>
                        <td>{{data.athlete.firstname}}</td>
                    </tr>
                    <tr>
                        <th>Lastname: </th>
                        <td>{{data.athlete.lastname}}</td>
                    </tr>
                    <tr>
                        <th>City: </th>
                        <td>{{data.athlete.city}}</td>
                    </tr>
                </table>
                <div style="height:40px;"></div>
                <p>Click below to view your athlete activities for the past three months</p>
                <div style="height:40px;"></div>
                <div class="col s12">
                    <form action="/list_activities" method="get" class="center">
                        <button type="submit" class="waves-effect waves-light btn center green">View</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>