<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Connect to strava API</h1>

    <form action="/create_token" method="get">
        <p>Client ID:</p>
        <input type="text" name="client_id" id="client_id">
        <p>Client Secret:</p>
        <input type="password" name="client_secret" id="client_secret">
        <button type="submit" name="connect" id="connect">Connect</button>
    </form>
</body>
<script src="js/strava-dom.js" charset="utf-8"></script>
</html>