<head>
    <title>Index</title>
</head>
<h3>Connect to your strava API</h3>
<form action="/" method="POST">
    <p>Client ID:</p>
    <input type="text" name="client_id" id="client_id">
    <p>Client Secret:</p>
    <input type="password" name="client_secret" id="client_secret">
    </br>
    <button type="submit" name="connect" id="connect">Connect</button>
</form>